
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 120%;
    position: relative;
    overflow: hidden;
    background: rgb(21, 26, 30);
}

h1{
    color: #00bfff;
    margin: 10px 5px; 
}

.logo{
    flex-basis: 80%;
    cursor: pointer;
}

.logo img{
    height: 60px; 
    width: 60px; 
}

.logo a{
    color: white;
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
    font-family: cursive;
}

.logo a:hover{
    transition: 0.6s ease-in-out;
    color: #00bfff;
}

.navbar{
    background: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-link{
    text-decoration: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: white;
}

.navbar-link:hover{
    color: rgb(171, 251, 171);
    transition: all 0.4s ease;
}

.navbar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
}

.button{
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 18px;
    border-radius: 15px;
    background-color: #88c2f0;
}

.button:hover{
    background-color: lightgreen;
    transition: all 0.4s ease;
    color: white;
}

.row{
    display: flex;
    text-align: center;
}

#main-img{
    margin-top: 20px;
    height: 300px;
    width: 350px;
    padding: 6%;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

#main-img:hover{
    border: 2px solid #8bc6f6;
}

footer{
    margin-top: 20px;
    text-align: center;
}

footer p{
    color: white;
}

@media screen and (max-width: 991px){
    .main{
        height: 105%;
        max-width: 100%;
        overflow: hidden;
    }

    body{
        overflow-x: hidden;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 100px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.4s ease;
        height: 50vh;
        z-index: -1;  
        
    }
    
    .navbar-menu.active{
        background:rgb(0, 0, 0);
        top: 100%;
        opacity: 1;
        transition: all 0.4s ease;
        z-index: 99 ;
        height: 50vh;
    }

    .navbar-toggle .bar{
        width: 20px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
        display: block;
        cursor: pointer;
    }

    .navbar-item{
        width: 100%;
    }

    .navbar-link{
        text-align: center;
        padding: 10px;
        width: 100%;
        display: table;
        margin: 5px;
    }

    #mobile-menu{
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar-button{
        padding-bottom: 10px;
    }

    .button{
        display: flex;
        justify-content: center;
        width: 20%;
        margin: 0;
    }

    .logo{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #main-img{
        margin: 20px;
        height: 200px;
        width: 233px;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
               
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
               
    }
}

